    
    <div class = 'listingHero'>
        <img class = "commonHero" src="/img/hero.jpg" alt="Common Hero">
        <h2>New to Shilee's Food Truck?</h4>
        <h1>Register your account here!</h3><br /><br />
    </div>
            {{#if errorMessage.message}}
                <div class="warning" role="alert"> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error:</strong> {{errorMessage.message}} 
                </div>
            {{/if}}
    <div class= 'registration'>



          <form  method="POST" action ="/registration">

             <label for="firstName">First Name:</label>
             <input type="text" name="first"><br /><br />
             <label for="lastName">Last Name:</label>
             <input type="text" name="last"><br /><br />
             <label for="eMail">Email</label>
             <input type="text" name="email"><br /><br />
             <label for="password">Password:</label>
             <input type="password" name="password"><br /><br />
             <label for="confirmPassword">Confirm Password:</label>
             <input type="password" name="confirmPassword"><br /><br />
             <label for="clerk">Are you a data entry clerk?</label>
             <input class="form-control" type="checkbox" name="clerk" />
             <div class = "submission"><input type="submit" value="Register Account"></div><br />

        </form>
    </div>